{
  "extends": [
    "@cyntheon/next",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@emotion"],
  "rules": {
    "no-undef": "off",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "spaced-comment": "off",
    "capitalized-comments": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@emotion/pkg-renaming": "error",
    "@emotion/jsx-import": "off",
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    "@emotion/styled-import": "error"
  }
}
