#────Dependencies────#
/node_modules
#───────Testing──────#
/coverage
#───────Next.js──────#
/.next/
/out/
#─────Production─────#
/build
#────────Debug───────#
yarn-debug.log*
yarn-error.log*
#─────Compiled CSS───#
*.css
*.css.map
#───Local Env Files──#
.env.local
.env.development.local
.env.test.local
.env.production.local
#────────Misc────────#
.DS_Store
*.pem
.vercel
#────IDE settings────#
.atom
.eclipse
.idea
.vim
.vscode
#────────────────────#
